/* Container for the tables  */

.main-container {
    font-size: 14pt; 
    position: relative;
    padding: 130px 40px 0px 50px;
}

/* Style for the title of the page */

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h4 {
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: #dc0e4cfc;
}

.title h4 span {
    display: block;
    font-size: 22px;
    color: #e1688dfc;
    font-style: italic;
    margin-bottom: -10px;
    font-family: 'DM Serif Display', serif;
}

.title h4:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #494648;
    bottom: 0;
    right:20%;
    transition: 0.4s;
}

.title:hover h4::before{
    transform: scale(1.4);
    height: 2px;
}

/* Table styles */

.main-container .family, .services{
    display: flex;
    justify-content: end;
    padding-right:60px;
}

.about table tr td img {
    transition: 0.5s;
}

.about:hover table tr td img {
    transform: scale(1.3);
}

.about {
    transition: 0.5s;
    padding: 0px 30px 0px 30px;
    text-shadow: 1px 1px 1px rgb(235, 222, 226), 0 0 1em rgb(235, 222, 226), 0 0 0.2em rgb(235, 222, 226);
    font-size: 16px;
}

.about:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 1px rgb(235, 222, 226), 0 0 1em rgb(235, 222, 226), 0 0 0.2em rgb(235, 222, 226);
}

.about img {
    height: 240px;
    padding: 20pt;
}

.about h2 {
    font-family: 'DM Serif Display', serif;
    color: #e1688dfc;
}

.about table tr td p{
    text-align: center;
}

/* Circles */

.background-circle {
    z-index: -1;
    background: #faf0f43b;
    position: absolute;
    clip-path: circle(460px at center 620px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-circle img {
    z-index: -1;
    position: absolute;
    opacity: 0.15;
    clip-path: circle(460px at center 620px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* go back sign */

.go-back h4{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-left: 40px;
}

.go-back h4 a{
    text-decoration: none;
    color: #ab5364;
}