*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

main{
position: relative;
min-height: 100vh;
padding: 100px 0px 40px 40px;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column-reverse;
}

/* Css style for container that holds my form and img */

.form-container{
    width: 80%;
    margin-top: 6rem;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form-container img{
    max-width: 50%;
    padding-left: 100px;
}

/* Form for payment  */

.title-form{
    display: flex;
    flex-direction: column;
}

.form-title{
    font-size: 30px;
    margin-bottom: 2.5rem;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(150, 43, 64);
    opacity:0.8 ;
}

.checkout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.user-input{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

label{
    font-size: 16px;
    color:rgb(97, 93, 93);
    margin-bottom: 0.5rem;
}


input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: rgb(236, 202, 208);
    border-radius: 15px;
    border: none;
    font-size: 14px;
    transition: 0.4s;
}

input[type="text"]:hover{
    transform: scale(1.1);
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: rgb(114, 65, 74);
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .user-input{
    width: 45%;
}

input[type="button"]{
    background-color: rgb(211, 148, 161);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}

input[type="button"]:hover{
    background-color: rgb(125, 56, 70);
    border: none;
    transform: scale(1.1);
}

/* cirlce decoration in the background */

.background-circle {
    position: absolute;
    z-index: -1;
    background: #fcf8e0;
    clip-path: circle(300px at center 490px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* go back sign */

.go-back h4{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-left: 40px;
}

.go-back h4 a{
    text-decoration: none;
    color: #ab5364;
}