/* CSS Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
    transition: .3s;
}

/* Main */

main {
    position: relative;
    min-height: 100vh;
    padding: 150px 60px 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Background Decoration Circle  */

.background-circle {
    position: absolute;
    z-index: -1;
    background: #f9f3db;
    clip-path: circle(600px at right 800px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header */

header {
	background-image: url('/pics/header.jpg');
	height: 300px;
}

header {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 180px;
    padding-top: 50px;
}

header ul {
    position: relative;
    display: flex;
    top: -25px;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fbfbfb;
    font-weight:400;
    font-size: 22px;
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    transition: 0.4s;
}

header ul li a:hover {
    transform: scale(1.2);
    color:#640327;
    font-weight: bolder;
}

/* Content > text content & img box > thumbnails*/

.content {
    padding:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 110px;
}

.content .text-content {
    position: relative;
    max-width: 700px;
    top: 30px;
    padding-left: 30px;
}

.content .text-content h2 {
    width: max-content;
    color: #333;
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 500;
    font-family: 'DM Serif Display', serif;
}

.content .text-content h2 span {
    color:#e1688dfc;
    font-size: 4rem;
    font-weight:bolder;
    font-family: 'Satisfy', cursive;
}
.content .text-content p {
    color: #333;
    padding-top: 15px;
}

.content .text-content a {
    display:inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:#e3c0cafc;
    color:#5d4e52;
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.4s;
}

.content .text-content a:hover {
    transform: scale(1.1);
    color: #fbfbfb;
    font-weight: bolder;
    background-color: #78394cfc;
}

.content .img-box {
    width: 650px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 60px;
}

.content .img-box img {
    position: relative;
    max-width: 500px;
}

/* Desserts on sale */

.promo-desserts{
    background: #f4ebeecb;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    border-radius: 60px;
}

.promo-desserts:hover .box{
    transform: scale(1.04);
}

.promo-desserts .heading{
    position: relative;
    font-size: 44px;
    color: rgba(193, 64, 103, 0.988);
    font-family: 'DM Serif Display', serif;
    top: 25px;
}

.promo-desserts .heading span {
    color: #e1688dfc;
    font-family: 'DM Serif Display', serif;
}

.promo-desserts .promo-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 2rem 2rem 2rem;
}

.promo-desserts .promo-container .box{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promo-desserts .promo-container .box img{
    max-width: 400px;
    float:right;
}

.promo-desserts .promo-container .box .promo-content{
    text-align: center;
    width: 70%;
}

.promo-desserts .promo-container .box .promo-content h3{
    font-size: 1.8rem;
    padding-bottom: 10px;
    color: #5d464dfc;
    font-family:'DM Serif Display', serif;
}

.promo-desserts .promo-container .box .promo-content p{
    font-size: 19px;
    color:#5d5959;
    line-height: 1.8;
}

/* Thumbnails Under the desserts on sale */

.thumbnails {
    position:absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.thumbnails li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
} 

.thumbnails li:hover {
    transform: scale(1.2);
}

.thumbnails li img {
    max-width: 90px;
}

/* Took html and css style for footer from here (https://web-eau.net/en/blog/10-best-footer-html-css-snippets) and changed it 
to fit into my style */

.footer-container {
    padding:20px 0;
    background-color:#f8e6ec;
    color:#4d4b4c;
    box-shadow: 0 0 12px rgba(68, 66, 67, 0.5);
}
  
.footer-container ul, address {
    padding:10px;
    list-style:none;
    text-align:center;
    font-size:16px;
    font-weight: bold;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: center;
}

.footer-container address {
    flex-direction: column;
}
  
.footer-container li {
    padding:0 10px;
}
  
.footer-container ul a, address, address a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-container ul a:hover, address:hover, address a:hover {
    opacity:1;
}
  
.footer-container .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#787676;
    margin-bottom:0;
}